/**/
html {
  overflow-x: hidden;
}
html, body {
  height: 100%;
}
body {
  background: #fff;
  font-size: 12px !important;
  display: flex;
  flex-direction: column;
}
nav {
  flex: 0 0;
}
.content-area {
  flex: 1 1 100%;
}
.table {
  font-size: 11px;
}
.table tr:first-child td {
  border-top: none;
}
.fieldname {
  text-align: right;
  font-weight: bold;
}
.number {
  text-align: right;
  font-weight: bold;
}
.inner-space {
  display: flex;
  height: 100%;
}
.sidebar {
  flex: 0 0 300px;
  border-bottom: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: stretch;
}
.hd-toggler {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 5px;
}
.inner-panel {
  flex: 0 1 auto;
  padding: 0 5px;
  margin: 1px;
  width: 100%;
}
.inner-panel .tab-content {
  padding: 10px 5px;
}
.viewport {
  flex: 1 1 100%;
  border-left: 2px solid #d3edff;
  border-top: 2px solid #d3edff;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: stretch;
}
.vp-row {
  flex: 0 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
}
.vp-row.first-row {
}
.vp-row.second-row {
  flex: 0 1 auto;
}
.vp-row.third-row {
  flex: 1 1 auto;
}
.bloc {
  flex: 1 1 auto;
  border: 2px solid #ccc;
  border-right: none;
  border-bottom: none;
  padding: 0 10px;
  z-index: 0;
}
.bloc.bloc-perf {
  flex: 1 0 240px;
}
.bloc.bloc-funding-book {
  flex: 1 0 600px;
}
.bloc.bloc-table {
  padding-bottom: 20px;
}
.bloc.bloc-console {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}
console {
  flex: 1 1 100%;
  display: flex;
  margin: 0 -10px;
  min-height: 300px;
  flex-direction: column;
  text-align: right;
}
console>div {
  margin-top: -28px;
  margin-bottom: 8px;
}
console>div>span {
  margin-right: 10px;
  cursor: pointer;
}
console>textarea {
  flex: 1 1 100%;
  resize: none;
  outline: none;
  background: #000;
  color: #eee;
  font-family: monospace;
  border: none;
  font-size: 11px;
}
.scrollable-table {
  min-width: 550px;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}
.scrollable-table .thead-cover {
  height: 26px;
  width: 100%;
  background: #fff;
  position: absolute;
  margin-top: -1px;
}
.scrollable-table td>div {
  position: absolute;
  background: #fff;
  margin-top: -21px;
  margin-left: -5px;
  padding: 5px 4px;
}
.input-group-addon {
  width: 35px !important;
  padding: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: left;
}
input[type="number"] {
  width: 70px !important;
}
input[type="radio"], input[type="checkbox"] {
  margin-top: 0px !important;
}
.nl label {
  display: block !important;
}
.form-group-inline {
  display: inline-block !important;
  margin-right: 10px;
  margin-bottom: 15px;
}
.form-group-inline:last-child {
  margin-right: 0;
}
.label-inline {
  display: inline-block !important;
  margin-right: 0px;
  margin-bottom: 15px;
  padding: 10px 10px 10px 30px !important;
}
.label-inline.hl {
  border: 1px solid #3b99fc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #fff;
}
.label-inline:last-child {
  margin-right: 0;
}
.sub-form {
  border: 1px solid #3b99fc;
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 0;
  margin-top: -11px;
}
.disconnected {
  padding: 10px 0 20px;
  text-align: center;
}
